	#logo{
		}

		body{
			background-color: #ebeff5;
		}


		#total-orders{
			background-color: #000;
		}
		.card-title{
		    color: #f2b258 ;
		}


		#orders-delivered{
			background-color: #000;
		}

		#orders-pending{
			background-color: #000;
		}
		#row1{
		    margin-left: 20px;
		}
        #row3{
		    margin-right: 20px;
		}
