

{% extends 'newmovie/main.html' %}

{% block content %}
<style>
     .card{
        display: inline-table;
    }


    .btn:hover{
        background-color: white;
        color: #000;
    }
    .sarlavha{
        margin:10px 0px 10px 50px;
    }
</style>


<h3 class="sarlavha text-danger ">Comedy Films</h3>


{% for film in comedy %}

        <div class="card" style="width: 18rem;">
              <img src="{{film.image.url}}" class="card-img-top img-thumbnail" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{film.title}}</h5>

                <a href="{% url 'movie_id' film.id%}" class="btn btn-danger">See</a>
              </div>
       </div>
{% endfor %}
{% endblock %}