{% load static %}
<footer class="bg-dark text-white pt-5 pb-4">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 ">
        <h5 class="text-uppercase mb-4 font-weight-bold text-danger">UzbekCoder96 <i class="fas fa-building"></i></h5>
        <p>Ushbu Sayt <strong>Uzbekcoder96 </strong> tomonidan mustaqil tajriba uchun yaratildi <span style="color:red;"><i class="far fa-heart"></i></span></p>
          <a href="{% url 'home' %}"><img id="logo" src="{% static 'images/2.png' %}"></a>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-danger">About Me <i class="fas fa-ban"></i></h5>
        <p>
          <a href="" class="text-white " style="text-decoration:none;">Student <i class="fas fa-school"></i></a>
        </p>
        <p>
          <a href="" class="text-white " style="text-decoration:none;">Our Academy Located in Zarafshan <i class="far fa-flag"></i></a>
        </p>
        <p>
          <a href="" class="text-white " style="text-decoration:none;">My Hobby is Coding <i class="fas fa-code"></i> and Footbaal <i class="far fa-futbol"></i></a>
        </p>
        <p>
          <a href="" class="text-white " style="text-decoration:none;">ALHAMDULLLAH MUSLIM <i class="fas fa-star-and-crescent"></i></a>
        </p>
      </div>
       <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-danger">Social Media <i class="fab fa-stripe-s"></i></h5>
        <p>
          <a href="https://www.instagram.com/" class="text-white " style="text-decoration:none;"><i class="fab fa-instagram"></i> My Instagram</a>
        </p>
        <p>
          <a href="https://t.me/UzbekCoder96" class="text-white " style="text-decoration:none;"><i class="fab fa-telegram"></i> My Telegram</a>
        </p>
        <p>
          <a href="" class="text-white " style="text-decoration:none;"><i class="fab fa-whatsapp"></i> My whatsapp</a>
        </p>
        <p>
          <a href="" class="text-white " style="text-decoration:none;"><i class="fab fa-twitter-square"></i> My Twitter</a>
        </p>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">

        <h5 class="text-uppercase mb-4 font-weight-bold text-danger">Contact <i class="far fa-address-book"></i></h5>
        <p>
            andreyevich0996@gmail.com
           <i class="fas fa-envelope-open-text"></i>
        </p>
        <p>
         <i class="fas fa-mobile-alt"></i>    +9989-041-24-21
        </p>
        <p>
         <i class="fas fa-map-marker-alt"></i>    Uzbekistan Navoiy Nurota
        </p>

      </div>

    </div>


  </div>





</footer>