{% extends 'newmovie/main.html' %}
{% load static %}
{% block content %}

<style>
	.text{
	    margin: 15px;
		color:red;
		text-align: center;
	}
	.text p{
		font-size: 20px;
	}

</style>
<div class="text">
    <h3>Parol o'zgartirish uchun havola jo'natildi</h3>


    <p>Biz sizning emailingizga parolni o'zgartish uchun link jo'nattik! Qisqa vaqt ichida ushbu link orqali yangi parol o'rnatishingiz mumkin!</p>

    <p>Agar hech qanday xabar olmagan bo'sangiz iltimos ro'yxatdan o'tgan emailingizni kirting, emailingizni spam bo'limini tekshirib ko'ring...!!!</p>
</div>
{% endblock %}
