{% extends 'newmovie/main.html' %}
{% load static %}
{% block content %}
<style>
	.text{
		color:red;
		text-align: center;
	}
	.text p{
		font-size: 20px;
	}
	.reset_pass{
		color: blue;
		margin: 10px;
		text-align: center;
	}
</style>
<div class="text">
	<h3>Parol o'zgartirish</h3>

	<p>Parolingizni unutdingizmi? Ro'yxatdan o'tgan  Emailingizni kiriting va biz sizga yangi parol o'rnatish bo'yicha sozlama jo'natamiz</p>
</div>
				<form class="reset_pass" method="post">

					{% csrf_token %}
					{{form}}
					<input class="btn btn-primary update" type="Submit" name="Send email">

				</form>
{% endblock %}
