<br>

<div class="row">
	<div id="row1" class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Total User</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">
						{{total_users}}
					</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div id="row2" class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Movies</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">
						{{total_movies}}
					</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div id="row3" class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Top Rank</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">
						{{top_rank}}
					</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>